[Unit]
Description=Setup ip rule
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/add_iprule.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=basic.target
