[Unit]
Description=usbfluxd from corellium
#After=network.target
After=corellium-openvpn.service
#BindsTo=sys-devices-virtual-net-tap0.device
#Wants=sys-devices-virtual-net-tap0.device
#After=sys-devices-virtual-net-tap0.device

[Service]
Type=simple
ExecStart=/usr/local/bin/usbfluxd --no-usbmuxd

[Install]
WantedBy=multi-user.target
