[Unit]
Description=usbfluxd from corellium
After=network.target
After=system-openvpn.slice

[Service]
Type=simple
ExecStart=/usr/local/bin/usbfluxd --no-usbmuxd

[Install]
WantedBy=multi-user.target
